section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 0 1 400px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: clamp(22px, 2vw, 28px);
}

.input-container {
    display: flex;
    flex-direction: column;

    label {
        font-size: clamp(16px, 1vw, 18px);
        font-weight: bolder;
        margin-bottom: 5px;
        color: #555;
    }

    input {
        padding: 10px;
        font-size: clamp(14px, 1vw, 16px);
        border: 1px solid #ccc;
        border-radius: 5px;
    }

}

.btn-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: hsl(221, 100%, 57%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

small.bad-credentials {
    color: red;
    font-size: clamp(10px, 1vw, 13px);

    &.closed {
        display: none;
    }

}